<div class="app__container">
    <div class="grid wide">
        <div class="row app__content">
            <div class="me-stored-products">
                <div class="">
                    <h3>Sản phẩm của tôi</h3>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên sản phẩm</th>
                            <th>Ảnh</th>
                            <th>Giá cũ</th>
                            <th>Giá mới</th>
                            <th>Xuất xứ</th>
                            <th>Nhãn hiệu</th>
                            {{!-- <th>Thời gian tạo</th> --}}
                        </tr>
                    </thead>
                    <tbody>
                        {{#each products}}
                        <tr>
                            <th>{{sum @index 1}}</th>
                            <td>{{this.name}}</td>
                            <td>{{this.image}}</td>
                            <td>{{this.price_old}}</td>
                            <td>{{this.price_new}}</td>
                            <td>{{this.origin}}</td>
                            <td>{{this.brand}}</td>
                            {{!-- <td>{{this.createdAt}}</td> --}}
                            <td>
                                <a href="/products/{{this._id}}/edit" class="">Sửa</a>
                                <a href="" class="" data-id="{{this._id}}" data-toggle="modal"
                                    data-target="#delete-product-modal">Xóa</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="delete-product-modal" class="modal-delete" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa khóa học???</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn xóa khóa học này?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-product" type="button" class="btn btn-danger">Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<form method="POST" name="delete-product-form"></form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var courseId;
        var deleteForm = document.forms["delete-product-form"];
        var btnDeleteCourse = document.getElementById("btn-delete-product");

        $('#delete-product-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseId = button.data('id');
        })
        btnDeleteCourse.onclick = function () {
            deleteForm.action = "/products/" + courseId + "?_method=DELETE";
            deleteForm.submit();
        }
    })
</script>